
<!--  --------  Add Material Modal ------------>

<div class="modal fade" tabindex="-1" role="dialog" id="add_material_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Materials To Inventory</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="new-material-description" class="col-form-label">Description:</label>
                    <input type="text" class="form-control" id="new-material-description">
                </div>
                <div class="form-group">
                    <label for="new-material-cost" class="col-form-label">Total Cost:</label>
                    <input type="text" class="form-control" id="new-material-cost">
                </div>
                <div class="form-group">
                    <label for="new-material-cost" class="col-form-label">Quantity:</label>
                    <input type="text" class="form-control" id="new-material-quantity">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-materials-button" data-dismiss="modal">Add Materials</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--  --------  Material Delete Confirm Modal ------------>

<div class="modal fade" id="deleteMaterialModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Material</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="material-delete-id">
                <p>Are you sure you want to delete that? This cannot be undone!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Cancel</button>
                <button type="button" class="btn btn-danger" id="btn-material-delete-confirm">Yes, Delete!</button>
            </div>
        </div>
    </div>
</div>

<!--  --------  Add Item Modal ------------>

<div class="modal fade" tabindex="-1" role="dialog" id="add_item_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Item To Inventory</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="new-item-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="new-item-name">
                </div>
                <div class="form-group">
                    <label for="new-item-materials" class="col-form-label">Materials:</label>
                    <div class="row">
                        <div class="col-md-5">
                            <select name="from" id="multi" class="form-control" size="10" multiple="multiple">
                                <option value="1">Test1</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="multi_rightSelected" class="btn btn-block btn-outline-success"><i class="fa fa-chevron-right"></i></button>
                            <button type="button" id="multi_leftSelected" class="btn btn-block btn-outline-danger"><i class="fa fa-chevron-left"></i></button>
                        </div>
                        <div class="col-md-5">
                            <select name="to" id="multi_to" class="form-control" size="10" multiple="multiple">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new-item-picture" class="col-form-label">Picture:</label>
                    <input type="file" class="form-control" id="new-item-picture">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add-item-button" data-dismiss="modal">Add Item</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--  --------  Item Delete Confirm Modal ------------>

<div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="item-delete-id">
                <p>Are you sure you want to delete that? This cannot be undone!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No, Cancel</button>
                <button type="button" class="btn btn-danger" id="btn-item-delete-confirm">Yes, Delete!</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$('#add-materials-button').on('click', function() {
    add_materials();
})

$('#btn-material-delete-confirm').on('click', function() {
    del_materials();
    $('#deleteMaterialModal').modal('hide');
})

$('#btn-item-delete-confirm').on('click', function() {
    del_item();
    $('#deleteItemModal').modal('hide');
})

$('#add_item_modal').on('show.bs.modal', function(e) {
    $.post({
        url: "get_unused_materials",
        data: "",
        success: function(data) {
            var sel = $('#multi');
            sel.empty();
            $.each(data, function(idx, elem) {
                sel.append("<option value=\"" + data[idx]['id'] + "\">" + data[idx]['description'] + "</option>")
            });
        },
        dataType: "json"
    })
})

$('#add-item-button').on('click', function() {
    multi_options = [];
    $('#multi_to option').each(function() {
        multi_options.push($(this).val());
    });
    var fd = new FormData();
    fd.append('name', $('#new-item-name').val());
    fd.append('materials', multi_options);
    fd.append('picture', $('#new-item-picture')[0].files[0]);
    $.post({
        url: "add_item",
        data: fd,
        processData: false,
        contentType: false,
        success: function(data) {
            $('#add_item_modal').modal('hide');
            update_items();
        },
        dataType: "json"
    })
})


function add_materials() {
    var form_data = {
        'description' : $('#new-material-description').val(),
        'total_cost' : $('#new-material-cost').val(),
        'quantity' : $('#new-material-quantity').val()
    }
    $.post({
        url: "add_materials",
        data: form_data,
        success: function(data) {
            update_materials();
        },
        dataType: "json"
    })
}

function del_materials() {
    var form_data = {
        'material_id' : $('#material-delete-id').val()
    }
    $.post({
        url: "del_materials",
        data: form_data,
        success: function(data) {
            update_materials();
        },
        dataType: "json"
    })
}

function del_item() {
    var form_data = {
        'item_id' : $('#item-delete-id').val()
    }
    $.post({
        url: "del_item",
        data: form_data,
        success: function(data) {
            update_items();
        },
        dataType: "json"
    })
}

</script>